# Custom
justfile
**/*.md
**/*.yaml
**/*.yml
.vscode
.air.toml
LICENSE
.temp
.tmp
temp
tmp

# Git
**/.git
**/.github
**/.gitignore

# flyctl launch added from .gitignore
**/tmp
**/.env*
**/.env.local
**/**/.DS_Store

# flyctl launch added from supabase/.gitignore
# Supabase
supabase
# supabase/**/.branches
# supabase/**/.temp

# dotenvx
supabase/**/.env.keys
supabase/**/.env.local
supabase/**/.env.*.local
fly.toml

# Docker
docker-compose.*
*ockerfile*
.dockerignore
.docker
