package components

templ IndexPage(message string) {
    @Base() {
        <section class='section'>
            <h1 class="title">Golang + HTMX Demo!</h1>
            <h2>{message}</h2>
            <button class="button" hx-get="/time" hx-target="#time">Get Current Time</button>
            <h2 id="time">Shows Current TIme</h2>
        </section>
    }
}
