package templates

import "share.dev/routes"

templ ErrorPage(code int, message string) {
    @Base("Error") {
        <div class="notification is-danger">
            <h1 class="title">Error {code}</h1>
            <p>{message}</p>
        </div>
        <a href={ routes.IndexPage } class="button">Go home</a>
    }
}
